html{
text-align:center;
	font-family: sherif;
}
h1{
	color:orange;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1ch;
}
h2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:orange;
	text-decoration: underline orange;
}		
h3{
	color:blue;
}
